In [1]:
import pandas as pd

In [38]:
#paramétrage du code pour afficher toutes les colonnes
pd.set_option('display.max_columns', None)

In [37]:
df_beer = pd.read_csv("C:/Users/Alexis/Documents/Python/Projets/off_beer_2.csv", encoding="utf-8", sep='\t')

C:\Users\Alexis\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (0,2,4,5,6,7,10,13,14,15,17,18,21,22,23,24,25,26,28,32,33,34,35,38,39,40,41,42,43,44,45,48,51,54,55,58,59,60,61,63,64,65,66,67,68,70,71,72,74,75,80,81,82,83,84,85,86,87,88,89,90,93,106,107,108,109,110,111,112,113,116,117,118,119,120,121,122,123,124,125,126,129,132,133,136,137,140,141,142,143,144,146,147,148,149,150,153,154,155,156,159,160,161,164,165,190,202,206,212,214,216,218,220,222,224,226,228,230,232,234,236,238,240,242,244,246,248,250,252,253,254,255,256,257,258,259,260,261,262,263,264,265,266,267,268,269,270,284,285,286,288,289,292,293,294,295,296) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [42]:
# création d'un deuxième dataframe avec uniquement les colonnes pertinentes pour plus de lisibilité
df_beer2 = df_beer[['product_name_fr', 'brands', 'brands_tags', 'countries', 'origins', 'manufacturing_places', 'off:ecoscore_grade', 'off:ecoscore_score']]

In [43]:
df_beer2.isna().sum().to_frame()

# beaucoup de NaN mais aussi beaucoup de duplicates (plusieurs dizaines de lignes grimbergen) donc peut être pas si grave

                         0
product_name_fr       2601
brands                 983
brands_tags            983
countries               28
origins               5759
manufacturing_places  3827
off:ecoscore_grade       2
off:ecoscore_score       2

In [52]:
# création d'une nouvelle colonne 'brands' pour isoler uniquement la première valeur avant la virgule, qui correspond à la vraie marque
df_beer2['brands'] = df_beer2['brands_tags'].str.split(',').str[0]

C:\Users\Alexis\AppData\Local\Temp/ipykernel_6420/1408209360.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_beer2['brands'] = df_beer2['brands_tags'].str.split(',').str[0]

In [58]:
#Exemple d'un duplicates : il y a 97 lignes 'leffe' et elles ont 2 ecoscores différents, à creuser
df_beer2[df_beer2['brands'] == 'leffe']['off:ecoscore_grade'].value_counts()

c    66
d    31
Name: off:ecoscore_grade, dtype: int64